
/*Ashley Landin, Samuel Segars, Rogelio Orozco, CSD460 Capstone in Software Development*/

/* Container 1 */
.container1 .full-width-img {
    width: 100%;
    height: auto;
}

/* Container 2 */
.container2 {
    background-color: #1A4D2E;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: -4px;
}

.container2 h2 {
    margin-bottom: 20px;
}

.container2 p {
    width: 50%;
    margin: 0 auto 20px auto;
    line-height: 1.6;

}

.container2 .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4F6F52;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Container 3 */
.container3 {
    background-color: white;
    color: #1A4D2E;
    text-align: center;
    clear: both;
    padding: 30px 0 150px;
}

.container3 h2 {
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    text-align: center;
    width: 20%;
}

.card a {
    display: block;
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
}

.image-crop {
    width: 100%;
    padding-bottom: 75%;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

.image-crop img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.card p {
    margin-top: 10px;
    font-weight: bold;
}