/*Ashley Landin, Samuel Segars, Rogelio Orozco, CSD460 Capstone in Software Development*/
body{
    margin:0;
    padding: 0;
    background-color: #F5EFE6;
    position: relative;
    min-height: 100vh;
}
#topnav {
    display: flex;
    background-color: #1A4D2E;
    height: 46px;
    justify-content: space-between;
    align-content: center;
    margin: 0;
    padding: 0;
}
#topnav a img, #topnav a{
    height: 40px;
}
#home{
    margin-right: auto;
}
#brand{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
}
#brand h2{
    vertical-align: center;
    line-height: 0;
    color: #F5EFE6;
}

#sidebarButton img{
    margin-left: auto;
    background: transparent none;
    color:white;
    border: none;
    height: 46px;
    font-size:200%;
    cursor: pointer;
}
#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #1A4D2E;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0;
    color:#F5EFE6;

}
#sidebarButton{
    margin-left: auto;
    margin-right: 1%;
}
#closeButton{
    top: 0;
    right: 25px;
    font-size: 10px;
    margin-left: auto;
    margin-right: 0;
    color: white;
}
#closeButton img{
    height: 36px;
    cursor: pointer;
}
#sidebarBrand{
    display: flex;
    align-content: center;
    justify-content: center;
}
#sidebarBrand img{
    height: 40px;
}
#sidebarBrand h4{
    vertical-align: center;
    color: #F5EFE6;
    margin-top: 7%

}
#sidebarTop{
    top: 0;
    display: flex;
}
.hidden{
    margin-right: auto;
}
 .links{
    text-align: center;
}
.link{
    text-decoration: none;
    cursor: pointer;
    color: #F5EFE6;
}
 .link h2, .link p{
    margin-top:  0;
    margin-bottom: 0;
}
 #footer{
     display: flex;
     background-color: #1A4D2E;
     justify-content: space-between;
     color: #F5EFE6;
     align-content: center;
     text-align: center;
 }
 #contact-us{
     margin-left: auto;
     align-content: center;
     padding-right: 15px;

 }
 #newsletter{
     margin-left: auto;
     margin-right: auto;
 }
 #footerLinks {
     margin-right: auto;
 }
 #footerLinks{
    padding-left: 15px;
 }
 #newsletter p, #newsletter h2{
     margin-bottom: 0;
 }
 #newsletter form *{
     margin-top: 0;
     margin-bottom: 5px;
 }
 #newsletter p{
     margin-top: 5px;
 }

body::after {
    content: '';
    display: block;
    height: 50px;

}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}